@import "lib/colors.css";

html,
body {
    background-color: var(--background-0) !important;
    color: var(--text-0);
    font-family: 'DM Sans', sans-serif;
    /* user-select: none; */
    cursor: default;
    margin-top: 35px;
    margin-bottom: 35px;
    transition: var(--transitions);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    margin: 1.2rem 0 0.8rem;
    background: var(--heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link {
    color: var(--text-0);
    text-decoration: none;
}

ul {
    padding-left: 1.2rem;

    li {
        margin: 0.4rem 0;
    }
}
