---
const props = Astro.props;
---

<h5 {...props}>
    <slot />
</h5>
<style>
    h5 {
        font-size: 7px;
        text-align: left;
    }
    h5:has(code) {
        code {
            background-color: transparent;
        }
    }
</style>
