---
const props = Astro.props;
---

<h1 {...props}>
    <slot />
</h1>
<style>
    h1 {
        font-size: 25px;
        text-align: left;
    }
    h1:has(code) {
        code {
            background-color: transparent;
        }
    }
</style>
