---
import { SwitchThemesButton } from "@/SwitchThemesButton/SwitchThemesButton.tsx";
---

<header id="header">
    <nav>
        <a href="/" id="home-link">Home</a>
        <a href="/blog" id="blog-link">Blog</a>
    </nav>

    <SwitchThemesButton client:only="solid" />
</header>

<script>
    const currentPath = window.location.pathname;
    const idMap = {
        "/": "home-link",
        "/blog": "blog-link",
    } as const;
    type Path = keyof typeof idMap;
    if (currentPath in idMap) {
        const id = idMap[currentPath as Path];
        document.getElementById(id)?.setAttribute("active", "");
    }
</script>

<style is:global>
    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
        height: 50px;
        padding: 0 20px;
    }
    #header nav {
        display: flex;
        gap: 20px;
    }
    #header a {
        font-weight: bold;
        font-size: 1.2em;
        color: var(--text-0);
        transition: color var(--transition-time) ease;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    #home-link[active] {
        color: var(--color-yellow);
    }

    #blog-link[active] {
        color: var(--color-purple);
    }
</style>
