---
// import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

import TitleBar from "@/TitleBar.astro";
interface Props {
    title?: string;
    description?: string;
}

import Head from "@/Head.astro";
import Footer from "@/Footer.astro";

import "../styles/global.css";

const { title = "OrigamiKing3612", description = "About me" } = Astro.props;
---

<html lang="en" class="light">
    <head>
        <Head title={title} description={description} />

        <Font cssVariable="--font-handlee" />
        <Font cssVariable="--font-dm-sans" />
        <!-- <ClientRouter /> -->
        <slot name="head" />
    </head>
    <body>
        <TitleBar />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
</style>
